body {
	background-color: #111;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	color: #666;
	font-size: 14px;
}

label {
	cursor: pointer;
}

#info {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	height: 20px;
	line-height: 20px;
	background-color: #222;
	border: 1px solid #444;
	border-top: 0px;
	border-right: 0px;
	box-shadow: 0px 0px 10px #444;
}

#info a {
	text-decoration: underline;
}

#info a:hover {
	color: #888;
}

#info span, #info a {
	color: #777;
	font-size: 12px;
	font-weight: bold;
}

#info span {
	padding: 0 3px 0 3px;
}

#middle {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
	background-color: #222;
	border: 1px solid #444;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 20px;
}

#middle table {
	width: 100%;
}

#middle table td {
	vertical-align: top
}

#middle .head {
	color: #666;
	font-size: 14px;
	padding-bottom: 1px;
}

.text {
	width: 100%;
}

#middle textarea {
	width: 100%;
	height: 160px;
	min-height: 160px;
	background-color: #292929;
	border: 1px solid #444;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	resize: vertical;
	overflow-x: auto;
	white-space: nowrap;
	outline: none;
	color: #888;
}

#result {
	text-align: center;
}
#result .btn {
	width: 150px;
}

#db_info table {
	width: 100%;
	border: 1px solid #888;
	border-spacing: 0;
	border-collapse: collapse;
}

#db_info table td {
	border: 1px solid #888;
	padding: 5px;
}
#db_info table td:nth-child(2) {
	text-align: center;
}
#db_info table tr:nth-child(1) {
	text-align: center;
}

#windows {
}

.window {
	display: none;
	position: absolute;
	max-width: 450px;
	margin: 0 auto;
	margin-top: 40px;
	left: 0; right: 0;
	z-index: 10;
	padding: 10px;
	background: #333;
	border: solid 1px #4a4a4a;
	box-shadow: 0 0 30px 5px #121212;
	color: #bbb;
	font-size: 12px;
}

.window .close {
	display: block;
	position: absolute;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	width: 18px;
	height: 18px;
	right: -12px;
	top: -12px;
	cursor: pointer;
	padding-right: 1px;
	border: 2px solid #5d5d5d;
	background: #333;
	border-radius: 20px;
}

.window .close:hover {
	color: #ddd;
	background: #4d4d4d;
}

.window .close:active {
	background: #333;
	color: #bbb;
}

#db_info {
	width: 200px;
	margin-top: 60px;
}

.btn {
	display: inline-block;
	margin: 0 0 2px 0;
	padding: 4px 12px;
	cursor: pointer;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 0px #111;
	color: #888;
	outline: none;
	border: 1px solid #3a3a3a;
	background: #3a3a3a linear-gradient(top, #3a3a3a, #2a2a2a);
	background: -webkit-linear-gradient(top, #3a3a3a, #2a2a2a);
	background:    -moz-linear-gradient(top, #3a3a3a, #2a2a2a);
	background:     -ms-linear-gradient(top, #3a3a3a, #2a2a2a);
	background:      -o-linear-gradient(top, #3a3a3a, #2a2a2a);
}

.btn:hover {
	color: #aaa;
	background: #2a2a2a linear-gradient(top, #4a4a4a, #2a2a2a);
	background: -webkit-linear-gradient(top, #4a4a4a, #2a2a2a);
	background:    -moz-linear-gradient(top, #4a4a4a, #2a2a2a);
	background:     -ms-linear-gradient(top, #4a4a4a, #2a2a2a);
	background:      -o-linear-gradient(top, #4a4a4a, #2a2a2a);
}

.btn:active, .btn.active {
	background: #2a2a2a;
	color: #666;
}

@media only screen and (max-width: 480px) {
	.window {
		margin: 12px;
	}
}
