body {
	background-color: #000;
	color: #999;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

input[type='button'] {
	width: 40%;
}

textarea {
	width: 100%;
	height: 150px;
	border:1px solid #555;
	font-size: 12px;
	color: #bbb;
	background-color: #3d3d3d;
	overflow-x: auto;
	white-space: nowrap;
	outline: none;
	resize: vertical;
	margin-top: -3px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#middle_table {
	width: 95%;
	margin: 0 auto;
	margin-top: 35px;
	padding: 0 5px 5px 5px;
	font-size: 14px;
	background: #333;
	border-radius: 5px;
	box-shadow: 0px 0px 15px #666;
}

#middle_table table {
	width: 100%;
	border: 0;
	padding: 10px;
}

#middle_table table td {
	padding-right: 5px;
}

#method_hash, #method_text  {
	padding: 5px 0 5px 0;
	font-size: 12px;
}

#method_hash .clicked, #method_text .clicked  {
	color: #bbb;
	background: #333;
}

#use_other_db {
	font-size: 12px;
	margin: -5px 0 -10px 0;
}

#db_info {
	min-width: 150px;
}

#db_info table {
	width: 100%;
	border: 1px solid #888;
	border-spacing: 0;
	border-collapse: collapse;
}
#db_info table td {
	border: 1px solid #888;
	padding: 5px;
}
#db_info table td:nth-child(2) {
	text-align: center;
}
#db_info table tr:nth-child(1) {
	text-align: center;
}
