body {
	background-color: #000;
	color: #999;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

input[type='text'],input[type='button'] {
	border: 1px solid #888;
	background: #333;
	border-radius: 3px;
	width: 400px;
	color: #999;
}

input[type='button'] {
	width: 100%;
	background: #444;
	color: #bbb;
}

input[type='button']:hover {
	background: #555;
	cursor: pointer;
}

textarea {
	width: 100%;
	height: 100%;
	min-height: 150px;
	border: 1px solid #888;
	background: #333;
	color: #999;
	overflow-x: auto;
	white-space: nowrap;
	outline: none;
	resize: none;
}

#middle_table {
	width: 95%;
	margin: 0 auto;
	padding: 0 10px 10px 10px;
	margin-top: 25px;
	font-size: 14px;
	background: #333;
	border-radius: 5px;
}

#middle_table table {
	width: 100%;
	border: 0;
	padding: 10px;
}

#middle_table table td {
	padding-right: 5px;
}

#method_hash, #method_text  {
	padding: 5px 0 5px 0;
	font-size: 12px;
}

#method_hash span, #method_text span  {
	display: block;
	float: left;
	border: 1px solid #888;
	margin-left: 5px;
	padding: 1px 5px 1px 5px;
	border-radius: 3px;
	background: #444;
	color: #bbb;
}

#method_hash span:hover, #method_text span:hover  {
	background: #555;
	cursor: pointer;
}

#method_hash .clicked, #method_text .clicked  {
	background: #666;
}

#use_other_db {
	font-size: 12px;
	margin: -5px 0 -10px 0;
}

#db_info {
	min-width: 150px;
}

#db_info table {
	width: 100%;
	border: 1px solid #888;
	border-spacing: 0;
	border-collapse: collapse;
}
#db_info table td {
	border: 1px solid #888;
	padding: 5px;
}
#db_info table td:nth-child(2) {
	text-align: center;
}
#db_info table tr:nth-child(1) {
	text-align: center;
}
