/* ----------------------------------- 
              ZiGGi Shell             
 ------------------------------------- */
#zgshell .menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 17px;
	z-index: 9999;
	padding: 5px 0;
	background: #505050;
    background: -webkit-linear-gradient(bottom, #404040, #505050);
    background:    -moz-linear-gradient(bottom, #404040, #505050);
    background: 	-ms-linear-gradient(bottom, #404040, #505050);
    background: 	 -o-linear-gradient(bottom, #404040, #505050);
    background: 		linear-gradient(bottom, #404040, #505050);
	border: 0;
}
#zgshell .menu a {
	font-size: 12px;
	color: #bbb;
	text-decoration: none;
}
#zgshell .menu a:hover {
	text-decoration: underline;
}

#zgshell .menu span {
	color: #bbb;
	font-weight: bold;
	font-size: 14px;
	font-family: Arial, Tahoma;
	text-shadow: 0 -1px 0 #222;
	text-align: center;
	padding: 4px;
	border-left: 1px solid #333;
}
#zgshell .menu .button {
	color: #bbb;
	font-weight: bold;
	font-size: 14px;
	font-family: Arial, Tahoma;
	text-shadow: 0 -1px 0 #222;
	cursor: pointer;
	text-align: center;
	padding: 4px;
	border-left: 1px solid #333;
}
#zgshell .menu .button:hover{
	color: #ddd;
}
#zgshell .menu .button:active {
	background: #404040;
	color: #bbb;
}

#zgshell .zgshell_window {
	background: #444;
	border: solid 1px #888;
	border-radius: 5px;
	box-shadow: 0 0 20px 2px #121212;
   	position: absolute;
	z-index: 10;
	left: 25%;
  	top: 100px;
	padding: 5px;
	color: #bbb;
	font-size: 12px;
	display: none;
}
#zgshell .zgshell_window .close {
	float: right;
	text-align: center;
	font-family: Arial, Tahoma;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	position: relative;
	display: block;
	width: 18px;
	height: 18px;
	margin-right: -6px;
	margin-top: -6px;
	border: 1px solid #888;
	-webkit-border-radius: 0 5px 0 5px;
	 -khtml-border-radius: 0 5px 0 5px;
	   -moz-border-radius: 0 5px 0 5px;
		-ie-border-radius: 0 5px 0 5px;
		 -o-border-radius: 0 5px 0 5px;
			border-radius: 0 5px 0 5px;
}
#zgshell .zgshell_window .close:hover {
	color: #ddd;
	background: #666;
}

#zgshell .zgshell_window .close:active {
	background: #404040;
	color: #bbb;
}
